html {
  font-size: 16px;

}

.flexcontainer {
  display: flex;
  width: 100%;

}

/* the header */
.header {
  position: fixed;
  z-index: 100;
  background-color: #FDFEFE;
  height: 4rem;
  width: 100%;
  align-items: center;
  vertical-align: baseline;

}
/* colmar logo (picture and text) */
.logo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  margin-left: 1.5rem;
  flex-grow: 1;
  height: 4rem;

}

.logo img {
  height: 3rem;
}

.logo .first-word {
  color: #17202A;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;

}

.logo .second-word {
  font-family: 'Raleway', sans-serif;
  color: gray;
}

/* the "links" */
.links {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin-right: 1.5rem;

}

.links a:hover {
  color: #BDC3C7;
  transition: color 1s ease-in 0.5s;

}

.links a {
  padding-right: 1rem;
  display: inline-block;

}

/* the main banner */
.banner {
  display: flex;
  width: 100%;
  background-color: #e6e6e6;
  padding-top: 4rem;


}

.banner-text {
display: flex;
align-items: center;
width: 30%;

}

.image img {
  width: 100%;

}

.image {
  width: 60%;
  padding: 2rem 2rem 2rem 2rem;

}

.text {
  width: 100%;

}

.text h1 {
  font-size: 3rem;
  font-family: 'Muli', sans-serif;
  font-weight: bold;

}


.text h3 {
  font-size: 1.75rem;
  font-family: 'Muli', sans-serif;
  margin: 30px auto;

}

.print {
  background-color: gray;
  background-size: cover;
  text-align: center;
  padding: 15px 8px;

}

.print a {
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
  color: white;

}

/* the secondary banner */
.second-banner {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
/* first column */
.first-column {
  width: 60%;
  padding: 32px 24px;

}

.first-column img{
  width: 100%;
  padding-bottom: 32px;

}
/* second column */
.second-banner .second-column {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 32px 0px;

}

.block {
  width: 100%;
  display: flex;
  border: 1px solid #EDF1F4;
  justify-content: flex-start;
  align-items: center;

}

.second-column {
  width: 40%;
  padding-top: 32px;

}

.block img {
  display: inline-block;
  width: 100%;

}

.block .small-text {
  display: inline-block;
  font-family:

}

.small-image {
width: 35%;
padding: 1rem;

}

.small-text {
width: 65%;
font-family: 'Muli', sans-serif;
line-height: 1.7rem;
color: #7D8182;

}

.small-text h4 {
  font-size: 1.5rem;

}

.small-text p {
  font-size: 1rem;

}

.small-text a {
color: #8CCDF2;

}

.block.guest {
  background-color: #E7E9EB;


}

/* classes options */
#learning {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #e6e6e6;
  align-content: space-between;
  padding: 0 72px;

}

.start img {
  display: block;
  height: auto;
  width: 100%;
  flex: calc(100/auto);

}

.start span {
  display: block;
  text-align: center;
  background-color: white;


}

.start {
  width: 25%;
  display: inline-block;
  padding: 0 16px;

}

.learning-title {
  padding: 32px 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Muli', sans-serif;

}
