html {
  font-size: 16px;
  /* overflow-x: hidden;*/

}

.flexcontainer {
  display: flex;
  width: 100%;

}

body {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}

/* the header */
.header {
  position: fixed;
  z-index: 100;
  background-color: #FDFEFE;
  height: 4rem;
  width: 100%;
  align-items: center;
  vertical-align: baseline;

}

.headers {
  display: none;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

.header {
  display: none;

}

.headers {
background-color: #FDFEFE;
position: fixed;
z-index: 100;
width: 100%;
display: flex;
align-items: center;
height: 64px;
justify-content: space-around;
}

.banner {
  display: flex;
  flex-direction: column;
}

}
/* colmar logo (picture and text) */
.logo {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  margin-left: 1.5rem;
  flex-grow: 1;
  height: 4rem;

}

.logo img {
  height: 3rem;
}

.logo .first-word {
  color: #17202A;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;

}

.logo .second-word {
  font-family: 'Raleway', sans-serif;
  color: gray;
}

/* the "links" */
.links {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin-right: 1.5rem;

}

.links a:active {
  color: #8EA5B0;
  transition: color 2s ease-out 0;

}

.links a:visited {
  color: #8EA5B0;

}

.links a {
  padding-right: 1rem;
  display: inline-block;

}

/* the main banner */
.banner {
  display: flex;
  width: 100%;
  background-color: #e6e6e6;
  padding-top: 4rem;


}

.image img {
  width: 100%;
}

.image {
  width: 60%;
  padding: 2rem 2rem 2rem 2rem;
}
/* text of the first banner */
.banner-text {
display: flex;
align-items: center;
width: 30%;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;

}

.text h1 {
  font-size: 3rem;
  font-family: 'Muli', sans-serif;
  font-weight: bold;

}


.text h3 {
  font-size: 1.75rem;
  font-family: 'Muli', sans-serif;
  margin: 1.875rem auto;

}

.text a {
  color: white;
  background-color: #3C4042;
  text-align: center;
  padding: 15px 0.5rem;
  font-family: 'Muli',sans-serif;
  font-size: 1rem;

}


.text a:hover {
  background-color: rgba(94, 99, 102, 0.5);
  transition: background-color 1s ease-in 0;

}
/* the secondary banner */
.second-banner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #F7F9F9;
}
/* first column */
.first-column {
  width: 60%;
  padding: 2rem 1.5rem;

}

.first-column img , .first-column video{
  width: 100%;
  padding-bottom: 32px;

}

.first-text {
  font-family: 'Muli', sans-serif;
  line-height: 1.6rem;
  text-align: left;

}

.first-text h1 {
  color:#3C4042;
  font-size: 3rem;
  padding-top: 2rem;

}

.first-text h3, .first-text h5 {
  color: #7D8182;
  padding-top: 1.5rem;

}

/* second column */
.second-banner .second-column {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 2rem 0;

}

.block {
  width: 100%;
  display: flex;
  border: 1px solid #EDF1F4;
  justify-content: flex-start;
  align-items: center;

}

.second-column {
  width: 40%;
  padding-top: 2rem;

}

.block img {
  display: inline-block;
  width: 100%;

}

.block .small-text {
  display: inline-block;

}

.small-image {
width: 35%;
padding: 1rem;

}

.small-text {
width: 65%;
font-family: 'Muli', sans-serif;
line-height: 1.7rem;
color: #7D8182;

}

.small-text h4 {
  font-size: 1.7rem;

}

.small-text p {
  font-size: 1rem;

}

.small-text a {
color: #8CCDF2;

}

.small-text a:hover {
  color: #B7E7FA;
  text-decoration: underline;
  text-decoration-color: #7BC6E4;

}

.block .guest {
  background-color: #E7E9EB;


}

/* classes options */
.learning {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #e6e6e6;
  padding-bottom: 2rem;

}

.learning-content {
  margin: auto 4.5rem;

}

.start img {
  display: block;
  height: auto;
  width: 100%;

}

.start span {
  display: block;
  text-align: left;
  background-color: #FDFEFE;
  font-family: 'Muli', sans-serif;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;

}

.start h4 {
  color: #3C4042;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.5rem 0;

}

.start h5 {
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;

}

.start h5, .start p {
  color: #7D8182;
  font-size: 1rem;

}

.start {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 1rem 1rem;

  }

.learning-title {
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  color: #3C4042;
}


.learning-content {
  text-align: center;

}

/* third banner */
.third-banner {
  width: 100%;
  background-color: #F7F9F9;

}

.column-one {
  width: 60%;
  font-family: 'Muli', sans-serif;
  margin: 1.5rem;

}
.column-one video {
  width: 100%;
}

.column-one span h4 {
  color: #3C4042;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;

}

.column-one span {
  line-height: 1.3rem;

}

/* footer */
.footer {
  padding-right: 1rem;
  padding-left: 1.5rem;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;

}
.footers {
border-top: 0.0625rem solid  #D7DBDD;
align-items: center;
padding-top: 1rem;
padding-bottom: 1rem;

}

div .terms {
  text-align: right;

}

div .copyright {
  flex-grow: 1;

}
